.App {
  text-align: center;
}

body {
  background-color: rgba(48, 16, 78, 0.952);
  color: rgb(255, 255, 255);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  text-align: center;
}

/* SIVUSTON OTSIKOIDEN MÄÄRITYS*/
.page-title {
  margin-top: 20px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  
}

/* ETUSIVUN MAINOSLAATIKKO*/

.welcome-message-container {
  max-width: 100%;
  margin: 50px auto 20px; 
  padding: 20px;
  border: 1px solid #ffffff;
  text-align: center; 
  background-color: #550343;  
  
}

.welcome-heading {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}

.welcome-content {
  font-size: 16px;
  color: #ffffff;
  max-width: 800px; 
  margin: 0 auto; 
}

.ad-container-wrapper {
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
  max-width: 100%;
  margin-top: 20px; 
}

.ad-container {
  width: 35%;
  height: 80%;
  position: absolute;
  right: 10%;
  top: 50%;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(253, 1, 1, 0.1),
  inset 0px 0px 100px rgba(255, 0, 0, 0.1);
  
}

.ad-heading {
  text-align: center;
  margin: 0; 
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%; 
  transform: translateY(-50%); 
}

.ad-item {
  width: 100%; 
  height: 80%; 
  position: relative;
}

.ad-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.ad-content {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center; 
  color: white; 
}

.event-container-wrapper {
  position: relative;
  width: 80%;
  height: 80%;
  overflow: hidden;
}

.event-container {
  width: 35%;
  height: 80%;
  position: absolute;
  left: 10%; 
  top: 50%;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(253, 1, 1, 0.1),
    inset 0px 0px 100px rgba(255, 0, 0, 0.1);
   }

.event-heading {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.event-item {
  width: 100%;
  height: 80%;
  position: relative;
}

.event-image {
  max-width: 55%;
  max-height: 50%;
  object-fit: cover;
}

.event-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  max-width: 1000px;
}



@media only screen and (max-width: 600px) {
  .ad-container,
  .event-container {
    width: 45%; 
    position: absolute; 
  }

  .ad-container {
    top: 130%; 
    transform: translateY(-50%); 
  }

  .event-container {
    top: 130%;
    transform: translateY(-50%); 
  }
}


/* DROPDOWN VALIKKO TÄSTÄ*/
.dropdown {
  position: absolute; 
  top: 15px;
  right: 10px;
}

.dropbtn {
  background-color: rgb(221, 152, 238);
  color: rgb(2, 2, 2);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 160px;
  height: 50px;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(221, 152, 238);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 0px;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(176, 81, 189);
  color: black;
  border-radius: 5px;
}

.dropdown:hover .dropbtn {
  background-color: rgb(176, 81, 189);
}
.logout-button {
  color: black;
  font-size: 16px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  margin-top: 0px;
  margin-left: 15px;
  border-radius: 5px;
  background-color: rgb(221, 152, 238);
  
}
.logout-button:hover{
  background-color: rgb(176, 81, 189);

}


/* LOGIN BUTTON*/
.login-button{
  position: absolute; 
  top: 15px;
  right: 10px;

}
/* NAVIGATION-BAR TÄSTÄ*/
.navigation-bar {
  text-align: center;
}

.navigation-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation-bar li {
  display: inline-block;
  margin-right: 10px;
}

.navigation-bar li:last-child {
  margin-right: 0;
}

.navigation-bar a {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 0; 
  width: 120px; 
  background-color: rgb(221, 152, 238);
  color: #333;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  outline: none;
}

.navigation-bar a:hover {
  background-color: rgb(176, 81, 189);
  
}

/* HAKU LAATIKKO TÄSTÄ*/
.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.search-container form {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
.search-container input[type="text"] {
  padding: 10px;
  margin-right: 1em;
  border-radius: 5px;
  width: 200px;
  max-width: 200px;
  width: calc(100% - 80px);
}
}
.search-container button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(221, 152, 238);
  color: rgb(7, 7, 7);
  border: none;
  cursor: pointer;
}

.search-container button:hover,
.search-container button:focus {
  background-color: rgb(176, 81, 189);
}

/* MOVIE VÄLILEHDEN HOMMELIT*/

.movie-container {
  text-align: center;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px; 
}

.movie-item {
  margin: 10px;
  padding: 20px; 
  text-align: center; 
}

.movie-item img {
  width: 150px;
  height: auto;
}

.movie-title {
  display: block; 
  margin-top: 10px; 
}

/*SEARCH VÄLILEHDEN DROPDOWN AND SEARCH*/
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.search-input-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 300px;
}
.search-button{
  margin-top: -10px;
  margin-left: 5px;
}

.dropdowns-container {
  display: flex;
  justify-content: center;
}

.searchDropdown {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  width: 150px;
}

.addToGroupListSelectGroupsButton,
.addToGroupListButton {
  background-color: rgb(221, 152, 238);
  color: #000000;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px; 
  margin-top: 10px;
}

/* GROUP VÄLILEHDEN RYHMÄT*/

.groups-container {
  margin: 20px auto;
  max-width: 800px;
  max-height: 800px;
 
}

.group-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.group-name {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}


.group-description {
  margin-top: 25px;
  margin-bottom: 30px;
  color: #ffffff;
  text-align: center;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: pre-line; 
  max-height: clamp(50px, 100%, 40px); 
  word-wrap: break-word; 
  overflow-y: auto;
  max-height: 100px;
  max-width: 90%;
}


.group {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 30px;
  width: 100%;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  height: 200px;
  background-color: #3f0f41;
  position: relative;
  overflow-y: auto;
}

.groupMemberStatus {
  position: absolute; 
  bottom: 10px; 
  justify-content: center;
}

@media only screen and (max-width: 600px) {
.button {
  padding: 10px 20px;
  background-color: rgb(221, 152, 238);
  color: #050505;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
  width: 100%;
  max-width: 200px;
  max-height: 50px;
  margin-top: -5px; 
  font-size: 10px;
}

.button:hover {
  background-color: rgb(176, 81, 189);
}

.groupMembershipStatus {
  width: 100%; 
  max-width: 30px;
  color: #4eda2c;
  margin-top: 10px; 
  font-size: 12px;
}
}

/*REPONSIIVISUUS:*/
/*1200-800px NÄYTTÖ:*/
@media screen and (max-width: 1200px){
  body {

    font-size: 1em;
    padding: 20px;
    margin: 20px;

    .App-header {

      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      text-align: center;
    }
    }

  /* NAVIGATION-BAR RESPONSIIVISUUS:*/
    .navigation-bar a {
      display: inline-block;
      margin: 10px;
      margin-right: 10px;
      padding: 10px 5px; 
      width: 120px; 
      border-radius: 3px;
      border-end-end-radius: 3px;
      text-decoration: none;
      transition: background-color 0.3s ease;
      outline: none;
    }
   }
    

  /*800px TAI SITÄ PIENEMPI NÄYTTÖ*/
@media screen and (max-width: 800px){
  body {
    font-size: 0,6em;
    }
   
  /*PUDOTUSVALIKON RESPONSIIVISUUS:*/
    .dropdown {
      position: absolute;
      top: 15px;
      right: 10px;
    }
    
    .dropbtn {
      padding: 6px;
      font-size: 14px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 126px;
      z-index: 1;
      margin-top: 2px;
      margin-right: 10px;
      border-radius: 5px;
    }
    
    .dropdown-content a {
      padding: 7px 7px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {
      border-radius: 5px;
    }
     /* NAVIGATION-BAR RESPONSIIVISUUS:*/
    .navigation-bar a {
      display: inline-block;
      margin: 10px;
      padding: 10px 3px; 
      width: 120px; 
      border-width: 3px;
        
    }

}

/* MOVIES VÄLILEHDEN SUODATUS VALIKKO*/

.filter-container {
  position: relative;
  display: inline-block;
  margin-left: 600px;
  margin-top: -20px;
}

.filter-container select {
  background-color: rgb(221, 152, 238);
  color: rgb(2, 2, 2);
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  appearance: none; 
}

.filter-container select:focus {
  outline: none; 
}

.filter-container select option {
  background-color: white;
  color: black;
}

.filter-container select:hover {
  background-color: rgb(176, 81, 189);
}

.filter-container select:focus {
  background-color: rgb(176, 81, 189);
}

/* TEATTERIT VÄLILEHTI*/
.link {
  color:white;
}
.link:visited {
  color:white;
}
.link:hover {
  cursor:pointer;
}

.movie-grids {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center;
}

.movie-items {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px; 
  padding: 10px;
  background-color: #550343; 
}

.movie-details {
  margin-right: 20px;
}

.movie-details img {
  max-width: 200px;
  height: auto;
}

.showtimes {
  margin-left: auto;
}

.showtimes ul {
  list-style: none;
  padding: 0;
}

.showtimes ul li {
  margin-bottom: 5px;
}

.showtimes h3::before {
  content: "\2605"; /* Käytetään Unicode-tähti-symbolia (★) */
  color: #fff; /* Määritetään tähtisymbolin väri */
  margin-right: 5px; /* Lisätään väliä tähtisymbolin ja tekstisisällön välille */
}

/* TEATTERI DRIOP DOWN */
.custom-dropdown {
  position: relative;
  margin: 0 auto; 
  transform: translateY(50%);
}

.custom-dropdown-btn {
  background-color: rgb(221, 152, 238);
  color: rgb(2, 2, 2);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100%; 
  max-width: 200px; 
  margin-top: -20px;
}

.custom-dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(221, 152, 238);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 0px;
  margin-right: 10px;
  border-radius: 5px;
}

.custom-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.custom-dropdown-content a:hover {
  background-color: rgb(176, 81, 189);
  color: black;
  border-radius: 5px;
}

.custom-dropdown:hover .custom-dropdown-content {
  display: block;
}

.custom-dropdown:hover .custom-dropdown-btn {
  background-color: rgb(176, 81, 189);
}
/*VALITUN TEATTERIN NÄYTTÖ */
@keyframes carousel {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.selected-theater {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #550343; 
  overflow: hidden;
  white-space: nowrap;
}

.selected-theater span {
  display: inline-block;
  animation: carousel 30s linear infinite; 
}

.addShowToGroupListButton {
  background-color: rgb(221, 152, 238);
  color: #000000; 
  padding: 5px 10px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  margin-right: 10px;
  margin-top: 10px;
}

/* LOGIN SIVUSTO */
.login-container {
  width: 500px; 
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3f0f41;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 20px;
}

.login-input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

.loginPage-button {
  color: black;
  font-size: 16px;
  padding: 10px 12px;
  background-color: rgb(221, 152, 238);
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
}

.link {
  position: relative;
  margin-top: 20px;
}

.loginTitle {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .login-container {
    width: 80%; 
    max-width: none; 
    margin-top: 20%;
  }
}

/* REGISTER SIVUSTO */

.registerFormContainer {
  width: 70%; 
  height: auto; 
  max-width: 400px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  background-color: #3f0f41; 
  border-radius: 20px; 
  border: 1px solid #ccc;
  padding: 20px;
}

.registerFormTable td input[type="text"],
.registerFormTable td input[type="password"] {
  width: 100%; 
  padding: 10px; 
  margin-bottom: 10px; 
  margin-right: 0; 
  border-radius: 5px; 
}

.validationStatus {
  margin-left: 20px; 
  font-size: 12px; 
}

.register-button {
  color: black;
  font-size: 16px;
  padding: 10px 12px;
  background-color: rgb(221, 152, 238);
  border-radius: 5px;
  width: 100%; 
  max-width: 200px; 
}

@media only screen and (max-width: 600px) {
  .registerFormContainer {
    width: 90%; 
    max-width: none; 
    margin-top: 20%; 
  }

  .registerFormTable td input[type="text"],
  .registerFormTable td input[type="password"] {
    width: 100%; 
    max-width: none; 
  }

  .register-button {
    width: 100%; 
    max-width: none; 
  }
}

/* PROFIILIN HALLINTA */

.profile-management {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-top: 50px; 
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.email-change-container,
.account-container {
  width: 90%; 
  max-width: 700px; 
  background-color: #3f0f41; 
  padding: 20px; 
  border: 1px solid #ccc;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  margin-bottom: 20px; 
}

.email-change-container h1 {
  margin-bottom: 20px; 
}

.email-change-container form,
.account-container {
  width: 100%;
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.email-change-container input[type="email"] {
  width: 100%; 
  max-width: 300px; 
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.email-change-container button[type="submit"],
.delete-account-button {
  padding: 10px 20px;
  background-color: rgb(221, 152, 238);
  color: #050505;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; 
  width: 100%; 
  max-width: 200px; 
}

.email-change-container button[type="submit"]:hover,
.delete-account-button:hover {
  background-color: rgb(176, 81, 189);
}


/* GROUP MANAGEMENT SIVUSTO*/

.groupManagementContainer {
  margin-bottom: 20px;
}

.formButton {
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 10px 12px;
  background-color: rgb(221, 152, 238);
  border-radius: 5px;
  margin-left: 25%; 
  margin-top: 5%; 
}

@media only screen and (max-width: 600px) {
  .formButton {
    margin-left: 5%; 
    margin-top: 10px; 
    width: 40%; 
    max-width: 200px; 
  }
}

.formButton:hover {
  background-color: rgb(176, 81, 189); 
}

.newGroupFormContainer {
  margin: 20px auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  background-color: #3f0f41;
  padding: 20px;
  border: 1px solid #ccc;
}

#newGroupForm_infoLine {
  margin-bottom: 10px;
}

.newGroupFormContainer table {
  width: 100%;
}

.newGroupFormContainer td {
  padding: 5px;
}

.newGroupFormContainer input[type='text'],
.newGroupFormContainer textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 5px;
}

#newGroupForm_addNewGroup {
  background-color: rgb(221, 152, 238);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; 
  width: 40%; 
}

#newGroupForm_addNewGroup:hover {
  background-color: rgb(176, 81, 189); 
}

.movieFormContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-itemss {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #3f0f41;
  text-align: center;
}

.movie-item img {
  display: block;
  margin: 0 auto;
}

.movieMovieTitleContainer {
  margin-top: 10px;
}

.movieMovieTitle {
  font-weight: bold;
}

.deleteFavoritesButton {
  margin-top: 10px;
}

.closeButton {
  position: absolute; 
  bottom: 10px; 
  right: 10px; 
  background-color: rgb(221, 152, 238);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.closeButton:hover {
  background-color: rgb(176, 81, 189); 
}

@media only screen and (max-width: 600px) {
  .newGroupFormContainer {
    width: 90%; 
    padding: 10px; 
  }
  .closeButton {
    bottom: 5px; 
    right: 5px; 
  }
}

.manageGroupsContainer {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.manageGroupsHeader {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.manageGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #3f0f41; 
  border: 1px solid #ccc;
  border-radius: 5px;
}

.manageGroupName {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.button {
  padding: 10px 20px;
  background-color: rgb(221, 152, 238);
  color: #020202;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(176, 81, 189); 
}

/* RYHMÄN OMA SIVU*/

.groupPageContainer {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #3f0f41;
}

.groupPageGroupName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.groupPageGroupDescription {
  margin-bottom: 20px;
  text-align: center;
}

.groupMovieListContainer,
.groupShowListContainer,
.groupMembersContainer {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.groupMovieListHeading,
.groupShowListHeading,
.groupMemberListHeading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  display: block;
  width: 100%; 
  
}

.groupMovieListItem,
.groupShowListItem,
.groupMemberListItem {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #9c3b7f;
  width: 200px; 
  margin: 0 10px 20px; 
}

.groupMovieListItem img,
.groupShowListItem img {
  max-width: 100px;
  max-height: 150px;
  margin-left: 10px;
}

.groupMemberListItem button {
  margin-left: 10px;
  background-color: #d81b60;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.groupMemberListItem button:hover {
  background-color: #b71c1c;
}

.joinRequestContainer {
  margin-left: 2%;
  padding: 1%;
  border-radius: 3%;
  max-width: 300px;
}

.acceptRequestsGroupContainer {
  margin-bottom: 1.5%;
  padding: 1%;
  background-color: #180f41;
  border: 1px solid #ccc;
  border-radius: 5px; 
}

.acceptJoinRequestGroupName {
  font-weight: bold;
  margin-bottom: 1%;
  border-radius: 5px;
}

.acceptUserToGroupContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 2%;
  background-color: #3f0f41;
  padding-left: 2%;
}

.joinRequestButtonContainer {
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start;
  border-radius: 5px;
  gap: 10px;
}

.acceptUserToGroup, .denyUserToGroup {
  padding: 1% 2%;
  border-radius: 0.3em;
  margin-right: 15px;
}

.acceptUserToGroup {
  background-color: #4cd622;
  color: rgb(2, 0, 0);  
}

.denyUserToGroup {
  background-color: #f44336;
  color: white;
}